<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
<ul>
    {{range .S}}
        <li>{{.Name}}</li>
    {{end}}
</ul>
------------
<ul>
{{range .W}}
<li>{{.Title}}</li>
{{end}}
</ul>
</body>
</html>