<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
<ul>
    {{range .}}
        <li>{{uc .}}</li>
    {{end}}
</ul>
<span>----------------</span>
<ul>
    {{range .}}
        <li> {{ft .}} </li>
    {{end}}
</ul>
</body>
</html>
